<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758236760449-0b96s2pgbk8ej90lb7vlks6u0es66blo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758236760449-0b96s2pgbk8ej90lb7vlks6u0es66blo</string>
	<key>API_KEY</key>
	<string>AIzaSyAFZON8wBo-9t4t0wDRtfxIJsDrcP2vY4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>758236760449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-try-e4e61</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-try-e4e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758236760449:ios:a9a27fd0ad1c640621c080</string>
</dict>
</plist>